* {
    color: white;
}
/* began fall */
html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;

  }
  .snowflake {
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
  }
  @keyframes snowfall {
    0% {
      transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
      transform: translate3d(var(--left-end), 110vh, 0);
    }
  }
  .snowflake:nth-child(1) {
    --size: 1vw;
    --left-ini: -2vw;
    --left-end: -8vw;
    left: 15vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -4s;
  }
  .snowflake:nth-child(2) {
    --size: 0.2vw;
    --left-ini: -8vw;
    --left-end: -9vw;
    left: 12vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -4s;
  }
  .snowflake:nth-child(3) {
    --size: 1vw;
    --left-ini: 3vw;
    --left-end: 9vw;
    left: 5vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -2s;
  }
  .snowflake:nth-child(4) {
    --size: 0.4vw;
    --left-ini: -4vw;
    --left-end: 10vw;
    left: 61vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -6s;
  }
  .snowflake:nth-child(5) {
    --size: 0.8vw;
    --left-ini: -8vw;
    --left-end: 10vw;
    left: 65vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -2s;
  }
  .snowflake:nth-child(6) {
    --size: 0.8vw;
    --left-ini: -3vw;
    --left-end: 10vw;
    left: 6vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -8s;
  }
  .snowflake:nth-child(7) {
    --size: 1vw;
    --left-ini: 3vw;
    --left-end: 10vw;
    left: 8vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -2s;
  }
  .snowflake:nth-child(8) {
    --size: 0.2vw;
    --left-ini: -9vw;
    --left-end: 4vw;
    left: 57vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -5s;
  }
  .snowflake:nth-child(9) {
    --size: 0.4vw;
    --left-ini: 1vw;
    --left-end: -5vw;
    left: 26vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -9s;
  }
  .snowflake:nth-child(10) {
    --size: 0.8vw;
    --left-ini: -7vw;
    --left-end: -5vw;
    left: 54vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -5s;
  }
  .snowflake:nth-child(11) {
    --size: 0.4vw;
    --left-ini: -5vw;
    --left-end: 8vw;
    left: 83vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -3s;
  }
  .snowflake:nth-child(12) {
    --size: 0.8vw;
    --left-ini: -9vw;
    --left-end: -1vw;
    left: 67vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -1s;
  }
  .snowflake:nth-child(13) {
    --size: 1vw;
    --left-ini: 6vw;
    --left-end: 10vw;
    left: 49vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -5s;
  }
  .snowflake:nth-child(14) {
    --size: 0.8vw;
    --left-ini: -6vw;
    --left-end: 1vw;
    left: 99vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -8s;
  }
  .snowflake:nth-child(15) {
    --size: 0.2vw;
    --left-ini: -8vw;
    --left-end: 5vw;
    left: 74vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -6s;
  }
  .snowflake:nth-child(16) {
    --size: 0.2vw;
    --left-ini: -4vw;
    --left-end: 3vw;
    left: 67vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -8s;
  }
  .snowflake:nth-child(17) {
    --size: 0.2vw;
    --left-ini: -8vw;
    --left-end: 2vw;
    left: 19vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -2s;
  }
  .snowflake:nth-child(18) {
    --size: 0.8vw;
    --left-ini: 9vw;
    --left-end: 3vw;
    left: 53vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -9s;
  }
  .snowflake:nth-child(19) {
    --size: 0.4vw;
    --left-ini: -7vw;
    --left-end: 3vw;
    left: 94vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -9s;
  }
  .snowflake:nth-child(20) {
    --size: 1vw;
    --left-ini: 8vw;
    --left-end: 2vw;
    left: 46vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -5s;
  }
  .snowflake:nth-child(21) {
    --size: 0.2vw;
    --left-ini: 4vw;
    --left-end: -8vw;
    left: 87vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -8s;
  }
  .snowflake:nth-child(22) {
    --size: 0.6vw;
    --left-ini: 0vw;
    --left-end: 1vw;
    left: 61vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -7s;
  }
  .snowflake:nth-child(23) {
    --size: 0.6vw;
    --left-ini: 8vw;
    --left-end: 1vw;
    left: 44vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -10s;
  }
  .snowflake:nth-child(24) {
    --size: 0.8vw;
    --left-ini: -4vw;
    --left-end: 9vw;
    left: 70vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -2s;
  }
  .snowflake:nth-child(25) {
    --size: 0.2vw;
    --left-ini: 4vw;
    --left-end: 5vw;
    left: 55vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -10s;
  }
  .snowflake:nth-child(26) {
    --size: 1vw;
    --left-ini: 1vw;
    --left-end: -2vw;
    left: 29vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -8s;
  }
  .snowflake:nth-child(27) {
    --size: 0.8vw;
    --left-ini: 10vw;
    --left-end: 5vw;
    left: 54vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -8s;
  }
  .snowflake:nth-child(28) {
    --size: 0.8vw;
    --left-ini: -5vw;
    --left-end: -2vw;
    left: 5vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -2s;
  }
  .snowflake:nth-child(29) {
    --size: 1vw;
    --left-ini: 10vw;
    --left-end: 9vw;
    left: 84vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -3s;
  }
  .snowflake:nth-child(30) {
    --size: 1vw;
    --left-ini: 7vw;
    --left-end: -7vw;
    left: 72vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -2s;
  }
  .snowflake:nth-child(31) {
    --size: 0.6vw;
    --left-ini: 4vw;
    --left-end: -1vw;
    left: 84vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -7s;
  }
  .snowflake:nth-child(32) {
    --size: 0.6vw;
    --left-ini: 8vw;
    --left-end: 9vw;
    left: 25vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -4s;
  }
  .snowflake:nth-child(33) {
    --size: 0.4vw;
    --left-ini: -3vw;
    --left-end: 1vw;
    left: 99vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -8s;
  }
  .snowflake:nth-child(34) {
    --size: 0.2vw;
    --left-ini: 1vw;
    --left-end: 2vw;
    left: 18vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -4s;
  }
  .snowflake:nth-child(35) {
    --size: 0.2vw;
    --left-ini: 4vw;
    --left-end: -5vw;
    left: 52vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -6s;
  }
  .snowflake:nth-child(36) {
    --size: 1vw;
    --left-ini: -5vw;
    --left-end: 8vw;
    left: 88vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -7s;
  }
  .snowflake:nth-child(37) {
    --size: 0.6vw;
    --left-ini: 6vw;
    --left-end: -3vw;
    left: 42vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -3s;
  }
  .snowflake:nth-child(38) {
    --size: 0.2vw;
    --left-ini: -4vw;
    --left-end: 2vw;
    left: 93vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -1s;
  }
  .snowflake:nth-child(39) {
    --size: 1vw;
    --left-ini: 8vw;
    --left-end: 3vw;
    left: 42vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -5s;
  }
  .snowflake:nth-child(40) {
    --size: 0.6vw;
    --left-ini: 7vw;
    --left-end: 6vw;
    left: 93vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -6s;
  }
  .snowflake:nth-child(41) {
    --size: 0.6vw;
    --left-ini: 5vw;
    --left-end: -3vw;
    left: 19vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -4s;
  }
  .snowflake:nth-child(42) {
    --size: 1vw;
    --left-ini: -3vw;
    --left-end: -3vw;
    left: 30vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -9s;
  }
  .snowflake:nth-child(43) {
    --size: 0.2vw;
    --left-ini: -3vw;
    --left-end: 9vw;
    left: 44vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -1s;
  }
  .snowflake:nth-child(44) {
    --size: 1vw;
    --left-ini: 5vw;
    --left-end: 9vw;
    left: 47vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -4s;
  }
  .snowflake:nth-child(45) {
    --size: 0.2vw;
    --left-ini: 9vw;
    --left-end: 10vw;
    left: 96vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -10s;
  }
  .snowflake:nth-child(46) {
    --size: 1vw;
    --left-ini: 3vw;
    --left-end: -6vw;
    left: 26vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -3s;
  }
  .snowflake:nth-child(47) {
    --size: 0.2vw;
    --left-ini: 5vw;
    --left-end: -7vw;
    left: 59vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -7s;
  }
  .snowflake:nth-child(48) {
    --size: 0.8vw;
    --left-ini: 8vw;
    --left-end: 9vw;
    left: 75vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -4s;
  }
  .snowflake:nth-child(49) {
    --size: 0.8vw;
    --left-ini: -9vw;
    --left-end: 7vw;
    left: 66vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -7s;
  }
  .snowflake:nth-child(50) {
    --size: 1vw;
    --left-ini: 4vw;
    --left-end: -7vw;
    left: 23vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -8s;
  }
  /* added small blur every 6 snowflakes*/
  .snowflake:nth-child(6n) {
    filter: blur(1px);
  }

  /*End fall  */
/* Begin header */
#header {
    width: 100vw;
    height: 100vh;
    background: url(../img/header__BG.png) top center / cover no-repeat;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Splash', cursive;
    text-align: center;
}
/* End header */
/* Begin content */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.external {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: url(../img/content__BG.png) top center / cover no-repeat;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0,-100vh,0);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  perspective: 1px;
	transform-style: preserve-3d;
  padding-bottom: 10rem;
}
.img-wrapper {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
  transition: 1s;
}

.img-wrapper:hover {
 min-height: 65vh;
}

.slower {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
}
.slower1 {
  transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
}
.slower2 {
  transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
}
.slower-down {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
}
.faster {
  transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh) ;
}
.faster1 {
  transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh) ;
}
.fastest {
  transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh) ;
}
.vertical {
   transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%) ;
}
.last {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh) ;
}
.scroll-info, header {
  position: absolute;
  left: 1rem;
}


header {
  bottom: 1rem;
}
.scroll-info {
  top: 1rem;
}
a {
  color: inherit;
  font-weight: 500;
  
}
h1 {
  font-weight: 300;
  font-size: 1rem;
}

.img-wrapper a {
  overflow: hidden;
  display: block;
  padding: 1vh ;
  background: #efecdb;
  box-shadow: 0 10px 50px #5f2f1182;
}
img {
  max-width: 45vh;
  max-height: 50vh;
  transition: .5s;
  vertical-align: top;
  filter: saturate(40%) sepia(30%) hue-rotate(5deg);
}
a:hover img {
  filter: none;
}
p {
  margin: 0;
}
.scroll-info {
  display: flex;
  align-items: center;
}
.icon svg {
    width: 50px;
    fill: currentcolor;
}
  /*End content  */
  /* Begin copyright */
  #footer p {
    text-align: center;
    position: relative;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Splash', cursive;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-40%, -50%);

  }